<!DOCTYPE html>
<html>
<head>
  <title>Activate Your Account</title>
</head>
<body>
    <div class="container" style="margin-left: 5rem; margin-right: 5rem">
<div class="text-center" style="text-align: center;">
  <img src="https://cdn.prod.website-files.com/651e5176767b9c7370f41463/653bb0d3d65452799f654da0_Logo%20White.png" alt="">
  <div class="" style="text-align: start;">
  <h1>Shaper Attendance Register</h1>
  
  <p>Dear {{email}}, </p>
  <p>Click on the button below to activate your account:</p>
  </div>
  <br>
  <a href="{{link}}" type="button" style="border: solid 1px white; padding: 10px; border-radius: 5px; color: white; background-color: rgb(121, 121, 214); text-decoration: none;">Activate Account</a>
  <br><br>
  <div class="" style="text-align: start;">
  <p>You’re receiving this email because you were recently onboarded to Shaper Attendance Register. If this was a mistake, please ignore this email.</p>
  <p>If you have any problems, please contact admin.</p>
</div>
<p>This email was sent to {{this.email}}</p>
<p>© 2024 Shaper. All rights reserved.</p>
</div>
</div>
</body>
</html>
