<!DOCTYPE html>
<html>
<head>
  <title>Admin Activation</title>
</head>
<body>
  <h1>Welcome, {{name}}!</h1>
  <p>Please activate your admin account by clicking the link below:</p>
  <a href="{{activationLink}}">Activate Account</a>
</body>
</html>
