<!DOCTYPE html>
<html>
<head>
  <title>Learner Activation</title>
</head>
<body>
<div class="text-center" style="text-align: center;">
  <img src="https://cdn.prod.website-files.com/651e5176767b9c7370f41463/653bb0d3d65452799f654da0_Logo%20White.png" alt="">
  <h1>Welcome, {{name}}!</h1>
  <p>Click the link below to activate your learner account:</p>
  <a href="{{activationLink}}">Activate Account</a>
</div>
</body>
</html>
